<div class="row">
  <div class="col-lg-12 welcomeMessage">
    <h3><strong>Welcome to</strong> SIMS Builder</h3>
    <p>A tool that allows easy creation of simulations for Microsoft Office applications. Users can provide scenario inputs so as to configure scenario specific SIMS. It also provides enhanced error reporting allowing users to identify and fix errors in input.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <section class="widget widget-invoice">
      <div class="widget-body">
      <header>
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-xs-left pageHead"> Search Task
            </h4>
            <p>Enter task id below. [e.g. SKL16.XL.04.01.03.T1]</p>
          </div>
        </div>
      </header>
        <form class="login-form mt-lg">
          <div class="row">
            <div class="col-md-12 tashHeadWrapper">
              <h4 class="text-xs-left">
              <input type="text" name="taskId" id="input" required class="form-control taskHeadingFont" id="task_id" [(ngModel)]="taskID" title="Please enter Task ID">
              <span class="unit taskHeadingFont">Task ID</span>
              </h4>
            </div>
          </div>
          <!--<div class="row">
            <div class="col-md-12">
              <h4 class="tempPadding taskHeadingFont"> Template </h4>
            </div>
          </div>
          <div class="optionWrapper">
            <div class="radio tempPadding">
              <label class="radioOption"><input type="radio" name="optradio" class="radioButton">Blank</label>
            </div>
            <div class="radio tempPadding">
              <label class="radioOption"><input type="radio" name="optradio" class="radioButton">Baloo (Pre-filled)</label>
            </div>
            <div class="radio tempPadding">
              <label class="radioOption"><input type="radio" name="optradio" class="radioButton">Copy from Existing Task</label>
            </div>
          </div>-->
          <div *ngIf="message" class="alert alert-danger">{{message}}</div>
          <div class="btn-toolbar float-xs-right m-t-1">
            <button class="btn btn-dark btn-md srchBtn" (click)="onSearch()">Search</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

