<section class="widget">
  <header>
    <div>
      <app-label [compConfig]="labelConfig"></app-label>
      <app-tag *ngFor="let tag of compConfig.tags" [compConfig]="tag"></app-tag>
       <span class="glyphicon glyphicon-info-sign document_title" data-toggle="popover" data-trigger = "manual" title='Document Title<a class="close");">&times;</a>' data-placement="right" data-content="Document Name which is shown in the central top area in the Ribbon is to be mentioned here." ></span>
    </div>
    <div class="widget-controls">
    	<a class="add_inputs plus_sign" title="Add Parameters" role="button" *ngIf="compConfig.rendererProperties.optionalItems"><i class="fa fa-plus" aria-hidden="true"></i></a>
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
    </div>
  </header>
  <div class="widget-body">
    <div #inputElementsContainer></div>
  </div>
</section>
