.heading {
  display: flex;
}

.widget-body.widget-content{
  margin-top: 0px;
}

app-label {
	margin-right: 0.5rem;
}

.fa.fa-plus {
  cursor: not-allowed;
  color: lightgray;
}

.widget{
  border-left: 5px solid #5876B9;
}