<section class="widget">
  <header>
    <div class="heading">
      <app-label [compConfig]="labelConfig"></app-label>
      <app-tag *ngFor="let tag of compConfig.tags" [compConfig]="tag"></app-tag>
    </div>
    <div class="widget-controls">
    	<a title="Add Parameters" role="button" *ngIf="compConfig.rendererProperties.optionalItems"><i class="fa fa-plus" aria-hidden="true"></i></a>
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
    </div>
  </header>
  <div class="widget-body widget-content">
    <div #inputElementsContainer></div>
  </div>
</section>
