<fieldset>
	<div class="heading">
	  	<app-label [compConfig]="labelConfig"></app-label>
		<button class="glyphicon glyphicon-info-sign info-icon" [popover]="compConfig.desc.detailed" [popoverTitle]="compConfig.label" placement="right" triggers="focus"></button>
	</div>
	  <div class="form-group input-max-width">
	    <select class="form-control" [(ngModel)]="modelRef.value" (change)="selectedItemChange()">
		  <option value={{item}} *ngFor="let item of itemList.value" [value]="item">{{item}}</option>
		</select>	
	  </div>
		<app-label [compConfig]="descriptionConfig"></app-label>
</fieldset>