@import "../../../../node_modules/bootstrap/scss/variables";

$dropzoneTextColor: #aaa;

.heading {
  display: flex;
}
.dropzone {
  border: $border-width*2 dashed $pre-border-color;
  position: relative;
  margin: {
  	top: $spacer;
  	right: $spacer;
  	bottom: $spacer;
  }
  color: $dropzoneTextColor;
}
.dz-message {
  margin-top: 4.5rem;
}

.input-max-width{
  max-width: 1000px;
}

.info-icon{
    line-height: 25px;
    color: #afaaaa;
    left: 2px;
}
