@import "../../../../node_modules/bootstrap/scss/variables";
@import "../styles.scss";

$dropzoneTextColor: #aaa;

.dropzone {
  border: $border-width*2 dashed $pre-border-color;
  position: relative;
  margin: {
  	top: $spacer;
  	right: $spacer;
  	bottom: $spacer;
  }
  color: $dropzoneTextColor;
  height: 200px;
  width: 100%;
}
.dz-message {
  margin-top: 4.5rem;
}