<div bsModal #previewModalDialog="bs-modal" id="previewModalDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="PreviewModalDialog.hide()" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-xs-center fw-bold" id="myModalLabel18">Preview</h4>
            </div>
            <div class="modal-body pl-30 pr-30">
                <form class="form-horizontal form-label-left" role="form">
                    <fieldset>
                        <legend>Would you like to preview simulation manually or through automated test environment?</legend>
                        <div class="form-group">
                            <div class="radio">
                                <input type="radio" name="radioElement" checked="true" id="radio1" value="preview" [(ngModel)]="bindedValues.launchScenario">
                                <label for="radio1">Preview Simulation</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="radioElement" id="radio2" value="test" [(ngModel)]="bindedValues.launchScenario">
                                <label for="radio2">Run Automated Test</label>
                            </div>
                        </div>
                    </fieldset>
                    <div *ngIf="bindedValues.launchScenario === 'test'">
                        <fieldset>
                            <legend>Test Configuration</legend>
                            <div class="form-group mb-5">
                                <div class="display-flex">
                                    <label class="col-sm-4 control-label" for="test-environment">Test Env</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" [(ngModel)]="bindedValues.environment" name="environment" (change)="updateOSList()">
                                            <option *ngFor="let testEnv of renderingConfig.environment; let idx=index;" [value]="testEnv.key">{{testEnv.label}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-5">
                                <div class="display-flex">
                                    <label class="col-sm-4 control-label" for="operating-system">OS</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" [(ngModel)]="bindedValues.os" name="operatingSystem" (change)="updateBrowserList()">
                                            <option *ngFor="let operatingSystem of renderingConfig.os" [value]="operatingSystem.key">{{operatingSystem.label}}</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-5">
                                <div class="display-flex">
                                    <label class="col-sm-4 control-label" for="browser">Browser</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" [(ngModel)]="bindedValues.browser" name="browser">
                                        <option *ngFor="let browser of renderingConfig.browser" [value]="browser.key">{{browser.label}}</option>
                                    </select>
                                    </div>
                                    <div class="col-sm-2 pl-0">
                                        <input type="number" min="1" name="brversion" [(ngModel)]="bindedValues.brversion" class="form-control" placeholder="Ver.">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-5" *ngIf="bindedValues.environment === 'saucelabs'">
                                <div class="display-flex">
                                    <label class="col-sm-4 control-label" for="resolution">Resolution</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" [(ngModel)]="bindedValues.screenresolution" name="screenresolution" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-5" *ngIf="bindedValues.environment === 'hub'">
                                <div class="display-flex">
                                    <label class="col-sm-4 control-label" for="resolution">Client</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" [(ngModel)]="bindedValues.client" name="client" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <br/>
                        <fieldset>
                            <legend>Choose Method(s) to validate</legend>
                            <div id="step-fields">
                                <div *ngFor="let stepData of renderingConfig.steps; let idx = index">
                                    <div class="form-group mb-0">
                                        <div class="checkbox">
                                            <input id="step-checkbox{{taskInfo.stepIndex}}" type="checkbox" name="method-checkbox{{taskInfo.stepIndex}}" (change)="updateMethodsCheckbox({event: $event, stepNumber: idx+1})">
                                            <label for="method-checkbox{{taskInfo.stepIndex}}">Step {{idx + 1}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 pl-30" *ngFor="let method of stepData['methods']">
                                        <div class="checkbox">
                                            <input id="method-checkbox{{method.index}}" type="checkbox" name="method-checkbox{{method.index}}" [(ngModel)]="methodCheckboxes[idx+1][method.index]"
                                            />
                                            <label for="method-checkbox{{method.index}}">M{{method.index}} ({{method.type}})</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button (click)="runPreview()" class="btn btn-dark mr-1">Preview</button>
                </div>
            </div>
        </div>
    </div>
</div>