@import "../../../scss/_variables.scss";

.pl-0 {
    padding-left: 0px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-30 {
    padding-right: 30px;
}

div#step-fields {
    height: 200px;
    overflow-y: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.btn-dark{
    background-color: $theme-blue;
    color: $pure-white;
    &:hover{
        background-color: $deepdark-blue;
    }
}

.modal-header {
    background-color: $theme-blue;
    color: $white;;
}

.modal-footer {
    background-color: $lightgray;
}

.close {
    font-size: 2.5rem;
    opacity: 1;
    color: $white;
}

legend {
    border-bottom: 1px solid $theme-blue;
    color: $theme-blue;
}

.display-flex{
    display: flex;
}

.mb-5 {
    margin-bottom: 5px;
}