@import "../../../scss/_variables.scss";

.p-0 {
    padding: 0;
}

.pl-0 {
    padding-left: 0px;
}

.pt-15 {
    padding-top: 15px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.m-0 {
    margin: 0;
}

div#step-fields {
    height: 150px;
    overflow-y: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.btn-dark{
    background-color: $theme-blue;
    color: $pure-white;
    &:hover{
        background-color: $deepdark-blue;
    }
}

.modal-header {
    background-color: $theme-blue;
    color: $white;;
}

.modal-footer {
    background-color: $lightgray;
}

.close {
    font-size: 2.5rem;
    opacity: 1;
    color: $white;
}

legend {
    color: $theme-blue;
    font-size: 1.25rem;
}

.fw-400 {
    font-weight: 400; 
}

.display-flex{
    display: flex;
}

.mb-5 {
    margin-bottom: 5px;
}

.th-width {
    width: 38px;
}

.text-field-line-height {
    line-height: 0.5;
}


// css for radio and checkbox
.radio-label {
    font-size: 1.1rem;
}

.radio {
    padding-left: 20px; 
}
.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top:2px;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 5px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}
.radio.radio-inline {
    margin-top: 0; 
}


.checkbox {
    padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: "FontAwesome";
    content: "";
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}
.checkbox.checkbox-single label {
    height: 17px;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #5d8fc2;
    border-color: #5d8fc2;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #dd5826;
    border-color: #dd5826;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5dc4bf;
    border-color: #5dc4bf;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0b518;
    border-color: #f0b518;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #64bd63;
    border-color: #64bd63;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.table td>.checkbox,
.table th .checkbox {
    position: relative;
    top: -8px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
