.pl-0 {
    padding-left: 0px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-30 {
    padding-right: 30px;
}

div#step-fields {
    height: 200px;
    overflow-y: auto;
}

.mb-0 {
    margin-bottom: 0;
}