p {
  margin-bottom: 0.5rem;
  &.ViewHeading {
    font-size: 2.2rem;
  }
  &.PanelHeading {
    font-size: 2rem;
  }
  &.ElementHeading {
    font-size: 1.25rem;
  }
  &.Description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}
