@import "../../../node_modules/bootstrap/scss/variables";
@import "../scss/variables";

.skill-container{
    margin-left: 28px;
    margin-top: 2px;
}

.template_label{
  font-size: 14px;
  padding: 0px;
  color: $black;// set variable $black
}
.scenario-step{
  margin: 0;
  padding: 0;
}
#generate{
  padding:15px 0px;
  margin: 0;
}
.template_button{
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: $gray-dark; // set variable $gray-dark
}
.taskbadges{
  padding-left: 15px;
  padding-right: 15px;
}
.searchForm{
  display: block;
}

