@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../scss/variables";

#stepList { 
  padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 25px;  // to be chnaged to 5 px after adding the test status
  background-color: $white;
  margin-bottom: 10px;
  color: $black;// set variable $black
  border-left: 5px solid $theme-blue;
  &:hover {
    background-color: $pre-bg;// set variable  $pre-bg
    cursor: pointer;
  }
  .rightArrowDiv{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .removeRightPadding{
    padding-right: 0px;
  }
}
.step_text {
  padding-left:0px; 
}
.fileIcon{
  margin-top: -4px;
}
.arrow{
  margin-top: 4%;
}
.redText{
  color: red;
}
.greenText{
  color: green;
}
.testSymbol{
  font-size: 30px;
}
.right_arrow{
  font-size: 25px;
}

.step_number{
  font-weight: bold;
  font-size: 1.25rem;
    & .stepText{
      font-weight: normal;
  }
}
.verticalRule{
  padding: 0px 5px;
}
:host-context(.taskstep-number-1) #stepList{
  border-left: 5px solid #0A81bd;
}
:host-context(.taskstep-number-2) #stepList{
  border-left: 5px solid #945f38;
}
:host-context(.taskstep-number-3) #stepList{
  border-left-color:#c33bbb;
}
:host-context(.taskstep-number-4) #stepList{
  border-left-color:#488c6c;
}
:host-context(.taskstep-number-5) #stepList{
  border-left-color:#ff6f06;
}
:host-context(.taskstep-number-6) #stepList{
  border-left-color:#06c7aa;
}
:host-context(.taskstep-number-7) #stepList{
  border-left-color:#9859b1;
}
:host-context(.taskstep-number-8) #stepList{
  border-left-color:#d4a32f;
}
:host-context(.taskstep-number-9) #stepList{
  border-left-color:#808000;
}
:host-context(.taskstep-number-10) #stepList{
  border-left-color:#ac3100;
}

.sync-button {
  border-left: 1px solid gray;
  padding-left: 10px;
}

.test-status-items {
  top: 1px;
  font-size: 15px;
  font-weight: 400;
}

.test-status {
  text-transform: capitalize;
  padding-left: 5px;
}