<div id="stepList" class="widget-body" (click)="navigateToStepBuilder()">
    <div class="row">
        <div class="col-md-10 removeRightPadding">
            <div class="text-color row col-md-12 removeRightPadding">
                <span class="step_number">Step {{step.Index}}: <span class="stepText" [innerHTML]="step.Text"></span></span>
            </div>
            <div class="row col-md-12 removeRightPadding">
                <span class="skill_metadata">Skill :&nbsp;{{step.TemplateName}}</span>
                <span class="verticalRule">|</span>
                <span class="method-count skill_metadata">Method Count: <span>{{step.MethodCount}}</span></span>
                <span class="verticalRule">|</span>
                <span class="template_label">Template: {{step.TemplateName}}</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row rightArrowDiv">
                <div class="col-md-8 test-status-items">
                    <span (click)="getStepReport(step.Index, $event)" class="position-right">
                        <i class="fa fa-file-text-o" title="Click to view test status"></i>
                        <span *ngIf="!processing" class="test-status" title="Test status">{{status}}</span>
                        <i *ngIf="processing" class="fa fa-spinner fa-spin"></i>
                    </span>
                    <span (click)="updateStepStatus(step.Index, $event)" class="sync-button pull-right"><i class="fa fa-refresh" title="Sync test status"></i></span>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <span class="glyphicon glyphicon-menu-right right_arrow" aria-hidden="true" tooltip="Build"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>