<div id="stepList" class="widget-body" (click)="navigateToStepBuilder()">
    <div class="row">
      <div class="col-md-10" >
          <div class="text-color row">
            <div class="col col-md-auto">
                <span class="fw-bold step_number">Step {{step.Index}}</span>
            </div>
            <div class="col-md-10 step_text">
                <span [innerHTML]="step.Text"></span>
                <div class="row col-md-12">
                  <span class="skill_metadata">Skill :&nbsp;{{step.SkillName}}</span>
                  <span>|</span>
                  <span class="method-count skill_metadata">Method Count: <span>{{step.MethodCount}}</span></span>
                  <span>|</span>
                  <span class="template_label">Template: {{step.TemplateName}}</span>
                </div>
            </div>
          </div>       
      </div>
      <!--<div class="col-md-2">
          <div class="row">
            <div class="col-md-5">
                <div class="row col-md-12 text-center">
                  <span class="icon_label">Attributes Filled</span>
                </div>
                <div class="row col-md-12">
                  <div class="progress">
                    <div class="progress-bar bg-info" [ngStyle]="{'width':step.stepProgress}" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{step.stepProgress}}</div>
                  </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                  <span class="icon_label text-center">Test Status</span>
                </div>
                <div class="row testSymbol">
                  <div class="col-md-8 offset-md-2">
                      <span *ngIf="step.TestStatus" class="glyphicon glyphicon-ok greenText" aria-hidden="true"></span>
                      <span *ngIf="!step.TestStatus" class="glyphicon glyphicon-remove redText" aria-hidden="true"></span>
                  </div>
                </div>
            </div>
            <div class="col-md-1">
              <div class="row">
                <span class="glyphicon glyphicon-menu-right right_arrow" aria-hidden="true" tooltip="Build"></span>
              </div>
            </div>
            </div>
      </div>-->
    </div>
</div>