@import '../../scss/variables.scss';
.logo{
  background-color: $theme-blue;
  margin-top: 0px;
  font-size: 25px;
  font-family: Cabin;
  color:$pure-white;
}
ul.sidebar-nav{
  font-weight: 600;
}
.sidebar-nav > li:last-child > a {
  border-color: #AAAAAA;
}
.sidebar-nav > li > a{
  border-top-color: #AAAAAA;
}
.sidebar-nav > li > a:hover{
  background-color: #484E5B;
}