<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <a>{{config.name}}</a>
  </header>
  <div class="sidebar-status hidden-md-up">
    <header class="logo">
      <a>{{config.name}}</a>
    </header>
    <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
  </div>
  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav" style="font-weight: 600;">
    <li>
       <a [routerLink]=" ['/']">
      <span class="icon">
          <i class="fa fa-search"></i>
      </span>
        Find My task
      </a>
    </li>
    <li>
      <a>
      <span class="icon">
          <i class="fa fa-clock-o"></i>
      </span>
        Recently Completed Tasks
      </a>
    </li>
    <!-- <li>
      <a [routerLink]=" ['another-page'] ">
      <span class="icon">
          <i class="fa fa-tree"></i>
      </span>
        Another Page
      <span class="tag tag-danger">
          9
      </span>
      </a>
    </li> -->
  </ul>
</div>
