<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <img src="assets/images/compro.png">
  </header>
  <div class="sidebar-status hidden-md-up">
    <header class="logo">
      <a>{{config.name}}</a>
    </header>
    <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
  </div>
  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav">
    <li class="sidebar-listitem">
      <a [routerLink]=" ['/']" title="Search Task">
        <div class="sidebar-icon">
          <i class="fa fa-search"></i>
        </div>
        <div class="sidebar-text">Search Task</div>
      </a>
    </li>
    <li class="sidebar-listitem">
      <a title="Recently Completed Tasks">
        <div class="sidebar-icon">
          <i class="fa fa-clock-o"></i>
        </div>
        <div class="sidebar-text">Recently Completed Tasks</div>
      </a>
    </li>
    <!-- <li>
      <a [routerLink]=" ['another-page'] ">
      <span class="icon">
          <i class="fa fa-tree"></i>
      </span>
        Another Page
      <span class="tag tag-danger">
          9
      </span>
      </a>
    </li> -->
  </ul>
</div>
