@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../scss/variables";

.row {
  margin: {
    left: $spacer;
    right: $spacer;
  }
}
#header {
  position: fixed;
  width: 100%;
  height: 6.3rem;
  padding-top: $spacer;
  z-index: 2;
  padding-bottom: 0.3rem;
  background-color: $theme-blue;
  color:$pure-white;
  border-bottom: 3px solid $lightgray;
  .stepTextContainer {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .header-icon{
    background-color: transparent;
    border: none;
    color:$pure-white;
    font-size: 25px;
  }
}
.body-container {
  height: calc(100% - 4rem);
  position: relative;
  padding-top: 6rem;
  #body {
    overflow-y: scroll;
    padding: {
      top: $spacer;
      bottom: $spacer;
    }
  }
}
#footer {
  height: 4rem;
  padding-top: 1rem;
  border-top: 3px solid $lightgray;
  background-color: $body-bg;
  .seperator{
    background-color:#C4C4C4;
    color: #C4C4C4;
    display: inline-block;
    width: 2px;
    height: 100%;
    margin: 0px 5px;
  }
}

.btn-dark{
  background-color: $theme-blue;
  color: $pure-white;
  &:hover{
    background-color: $deepdark-blue;
  }
}

.stepText.stepTextOverflowHidden {
  overflow: hidden;
  height: 3rem;
}

#header.removeFixedHeight {
  height: auto;
  padding-bottom: 0.4rem;
}

.stepTextHeading{
  font-size: 1.3rem;
}

.stepTextHeading:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 64%;
  background-image: linear-gradient(left, rgba(255,255,255,0) 0%, $theme-blue 80%, $theme-blue 100%);
  pointer-events: none;
}

.stepTextHeading.hideEllipsis:after{
  display: none;
}

.show-more{
  position: absolute;
  bottom: 25px;
  right: 0px;
  a{
    color: $pure-white;
    &:hover{
      color: $pure-white;
    }
  }
}