@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../scss/variables";

// // *******************Temporary declarations************
// $theme-blue: #005A8E;
// $pure-white: #FFFFFF;
// $success-green: #00B551;
// $hover-blue: #383E4B;
// ************To be Moved to variables.scss*****************

.row {
  margin: {
    left: $spacer;
    right: $spacer;
  }
}
#header {
  height: 6rem;
  padding: 10px;
  background-color: $theme-blue;
  color:$pure-white;
  border-bottom: 3px solid $lightgray;
  .stepTextContainer {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .header-icon{
    background-color: $theme-blue;
    border: none;
    color:$pure-white;
    font-size: 25px;
  }
}
.body-container {
  height: calc(100% - 10rem);
  #body {
    overflow-y: scroll;
    padding: {
      top: $spacer;
      bottom: $spacer;
    }
  }
}
#footer {
  height: 4rem;
  padding-top: 1rem;
  border-top: 3px solid $lightgray;
  background-color: $body-bg;
  .seperator{
    background-color:#C4C4C4;
    color: #C4C4C4;
    display: inline-block;
    width: 2px;
    height: 100%;
    margin: 0px 5px;
  }
}

.btn-dark{
  background-color: $theme-blue;
  color: $pure-white;
  &:hover{
    background-color: $hover-blue;
  }
}
