@import "../../../../node_modules/bootstrap/scss/variables";
$lightgray: #d3d3d3;
.row {
  margin: {
    left: $spacer;
    right: $spacer;
  }
}
#header {
  height: 6rem;
  padding-top: $spacer;
  background-color: $body-bg;
  border-bottom: 3px solid $lightgray;
  z-index: 2;
}
.body-container {
  height: calc(100% - 4rem);
  position: absolute;
  top: 0px;
  padding-top: 6rem;
  #body {
    overflow-y: scroll;
    padding: {
      top: $spacer;
      bottom: $spacer;
    }
  }
}
#footer {
  height: 4rem;
  padding-top: 1rem;
  border-top: 3px solid $lightgray;
  background-color: $body-bg;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.stepText.stepTextOverflowHidden {
  overflow: hidden;
  height: 3rem;
}

#header.removeFixedHeight {
  height: auto;
  padding-bottom: 3px;
}

.stepTextHeading:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 64%;
  background-image: linear-gradient(left, rgba(255,255,255,0) 0%, white 80%, white 100%);
  pointer-events: none;
}

.stepTextHeading.hideEllipsis:after{
  display: none;
}

.show-more{
  position: absolute;
  bottom: 25px;
  right: 0px;
}