<nav class="navbar navbar-default" id="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="row">
        <div class="col-md-10">
          <div class="row stepText stepTextOverflowHidden">
            <h4 class="stepTextHeading"><strong>STEP {{stepIndex}}:</strong>&nbsp;<span #stepTextContainer [innerHTML]="stepText"></span></h4>
            <span class="show-more"><a href="#">Show more</a></span>
          </div>
          <div class="row taskInfo">
            <span class="tag tag-primary"><span>Task ID:&nbsp;</span> {{taskID}}  </span>&nbsp;<span class="tag tagFontNormal tag-primary"><span >Skill:&nbsp;</span> {{skillName}}</span> &nbsp; <span class="tag tag-primary"><span>Template:&nbsp;</span> {{templateName}} </span>
          </div>
        </div>
        <div class="col-md-2">
          <div class="nav navbar-nav navbar-right saveAndCloseBtn">
            <button class="btn header-icon pull-right" title="Close" (click)="onClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
            <div class="seperator pull-right"></div>
            <button class="btn header-icon pull-right" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
  </div>
  </div>
</nav>
<div class="body-container">
  <div id="body">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <app-step-input-area class="taskstep-number-{{stepIndex}}" [stepConfig]="uiConfig" (viewChanged)="setSelectedView($event.viewNumber)" [selectedView]="selectedView" (uiRendered)="bindModelChecker($event)"></app-step-input-area>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-dark" (click)='previewTask()'>Preview Step</button>
      <div class="seperator">.</div>
      <button class="btn btn-dark width-100" (click)="setSelectedView(selectedView-1)" [disabled]="selectedView == 1">Previous</button>
      <button class="btn btn-dark width-100" *ngIf="selectedView < uiConfig.views.length" (click)="setSelectedView(selectedView+1)">Next</button>
      <button class="btn btn-dark width-100" *ngIf="selectedView == uiConfig.views.length" (click)="onFinish()">Finish</button>
    </div>
  </div>
</div>
<app-preview-modal #modalDialog></app-preview-modal>