<nav class="navbar navbar-default" id="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="row">
        <div class="col-md-10">
          <div class="row stepText stepTextOverflowHidden">
            <h4 class="stepTextHeading"><strong>STEP {{stepIndex}}</strong>&nbsp;<span #stepTextContainer [innerHTML]="stepText"></span></h4>
            <span class="show-more"><a href="#">Show more</a></span>
          </div>
          <div class="row">
            <span class="tag tag-primary"><span>Task ID:&nbsp;</span> {{taskID}}  </span>&nbsp;<span class="tag tagFontNormal tag-primary"><span >Skill:&nbsp;</span> {{skillName}}</span> &nbsp; <span class="tag tag-primary"><span>Template:&nbsp;</span> {{templateName}} </span>
          </div>
        </div>
        <div class="col-md-2">
          <ul class="nav navbar-nav navbar-right">
            <li><button class="btn btn-inverse pull-right" (click)="onClose()">Close</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="body-container">
  <div id="body">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <app-step-input-area [stepConfig]="uiConfig" (viewChanged)="setSelectedView($event.viewNumber)" [selectedView]="selectedView" (uiRendered)="bindModelChecker($event)"></app-step-input-area>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="col-md-12">
    <button class="btn btn-inverse" (click)='lauchPreviewTask()'>Preview Step</button>
    <button class="btn btn-inverse">Save</button>
    <div class="pull-right">
      <button class="btn btn-inverse width-100" (click)="setSelectedView(selectedView-1)" [disabled]="selectedView == 1">Previous</button>
      <button class="btn btn-inverse width-100" *ngIf="selectedView < uiConfig.views.length" (click)="setSelectedView(selectedView+1)">Next</button>
      <button class="btn btn-inverse width-100" *ngIf="selectedView == uiConfig.views.length" (click)="onFinish()">Finish</button>
    </div>
  </div>
</div>
