$progressbar-connector: #C1C1C1;
$brand-info: #5dc4bf;
$gray-dark: #343434;
.progressbar {
    counter-reset: step;

    li {
        list-style-type: none;
        width: 32%;
        float: left;
        font-size: 12px;
        position: relative;
        text-align: center;
        color: black;
        z-index: 1;

        &:before {
            width: 40px;
            height: 40px;
            content: counter(step);
            counter-increment: step;
            line-height: 35px;
            border: 2px solid $progressbar-connector;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
            cursor: pointer;
            font-size: 14px;
        }
        &:after {
            width: 100%;
            height: 4px;
            content: "";
            position: absolute;
            background-color: $progressbar-connector;
            top: 19px;
            left: 53%;
            z-index: -1;
        }
        &.active:before {
            border-color: $gray-dark;
            background-color: $gray-dark;
            color: white;
        }
        &:last-child:after{
            content: none;
        }
        &.visited:before {
            border-color: $brand-info;
            background-color: $brand-info;
            color: white;
        }
        &.visited:after {
            border-color: $brand-info;
            background-color: $brand-info;
        }
    }
}
