.tag {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem; }
  .tag:empty {
    display: none; }
.tag-default {
  background-color: #999999; }
  .tag-default[href]:focus, .tag-default[href]:hover {
    background-color: gray; }

.tag-primary {
  background-color: #5d8fc2; }
  .tag-primary[href]:focus, .tag-primary[href]:hover {
    background-color: #4175ab; }

.tag-success {
  background-color: #64bd63; }
  .tag-success[href]:focus, .tag-success[href]:hover {
    background-color: #48a746; }

.tag-info {
  background-color: #5dc4bf; }
  .tag-info[href]:focus, .tag-info[href]:hover {
    background-color: #40aea9; }

.tag-warning {
  background-color: #f0b518; }
  .tag-warning[href]:focus, .tag-warning[href]:hover {
    background-color: #c8950d; }

.tag-danger {
  background-color: #dd5826; }
  .tag-danger[href]:focus, .tag-danger[href]:hover {
    background-color: #b4461c; }
