@import "../../../../node_modules/bootstrap/scss/variables";
.heading {
  display: flex;
}
app-wrapper {
	border: 1px solid $pre-border-color;
	padding-left: 1rem;
}
:host /deep/ .customClass {
 	height: 2.5rem;
}
