@import "../../../../node_modules/bootstrap/scss/variables";

@import "../styles.scss";
app-tab-page {
	border: 1px solid $pre-border-color;
	padding-left: 1rem;
	padding-right: 1rem;
	display: block;
}
:host /deep/ .customClass {
 	height: 2.5rem;
}

.tabset{
	display: block;
	max-width: 1000px;
	margin-bottom: 1rem;
}
