@import "../../../../node_modules/bootstrap/scss/variables";
.heading {
  display: flex;
}
app-wrapper {
	border: 1px solid $pre-border-color;
	padding-left: 1rem;
	max-width: 1000px;
}
:host /deep/ .customClass {
 	height: 2.5rem;
}

.info-icon{
    line-height: 25px;
    color: #afaaaa;
    left: 2px;
}
