<div class="heading">
  <app-label [compConfig]="labelConfig"></app-label>
  <button class="glyphicon glyphicon-info-sign info-icon" [popover]="compConfig.desc.detailed" [popoverTitle]="compConfig.label" placement="right" triggers="focus"></button>
</div>
<tabset class="tabset" [ngStyle]="compConfig.rendererProperties.style">
  <template [ngIf]="!dynamicMode">
    <tab *ngFor="let tabConfig of compConfig.items" customClass="customClass">
      <template tabHeading>{{tabConfig.label}}</template>
      <app-tab-page [compConfig]="tabConfig" [ngClass]="{'displayInOneLine': displayInOneLine}"></app-tab-page>
    </tab>
  </template>
  <template [ngIf]="dynamicMode">
    <tab *ngFor="let tabModel of tabs.value" customClass="customClass">
      <template tabHeading>{{tabModel.name}}</template>
      <app-tab-page [compConfig]="compConfig.items[0]" [modelRef]="tabModel" [ngClass]="{'displayInOneLine': displayInOneLine}"></app-tab-page>
    </tab>
  </template>
</tabset>
<app-label [compConfig]="descriptionConfig"></app-label>
