.login-page{
  background-color: lightgray;
}

.page-footer {
  margin-bottom: 25px;
  font-size: 10px;
  color: lightgray;
  text-align: center;
  @media (min-height: 600px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.widget-login-container{
  padding-top: 10%;
  padding-bottom: 20px;
  min-height: 700px;
}

.widget-login-logo{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: normal;
  .fa-circle{
    font-size: 13px;
    margin: 0 20px;
  }
}

.widget-login{
  padding: 30px;

  > header{
    h1,h2,h3,h4,h5,h6{
      font-weight: normal;
      text-align: center;
    }
  }
}

.widget-login-info{
  font-size: 10px;
  color: #888;
  margin-top: 1px;
  margin-bottom: 0;
  text-align: center;

  &.abc-checkbox {
    margin-left: -25px;
  }
}

.login-form{
  .form-control{
    font-size: 10px;
    border: none;
    background-color: lightgrey;
    &:focus{
      background-color: lightgray;
    }
  }
}
.lab{
  text-align: right;
  padding-right: 30px;
  margin-bottom: 0px;
  margin-top: 5px;
  color: black;
}
.form-group .inp{
  padding: 2px;
  background-color: white;
}
.form-group .inp:focus{
  background-color: white;
}
.loginText{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.sectionlogin{
  border-bottom-right-radius: 4%;
  border-top-right-radius: 4%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background: #ffffff;
  border-color:rgba(204,204,204,1);
  color: black;
}
.forgetPassRow{
  padding-top: 15px;
}
.loginBackground{
  background: radial-gradient(ellipse at center, rgba(4, 13, 17, 0.8) 0%, rgba(4, 13, 17, 0.88) 44%, rgba(4, 13, 17, 0.97) 100%);
  width: 100%;
  height: 100%;
}
.lineSep{
  color: black;
  background-color: black;
  height: 1px;
}
.fgtPass{
    color: #1d3167;
    font-weight: 400;
}
.infoSection{
  border-bottom-left-radius: 4%;
  border-top-left-radius: 4%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  
  background: rgba(221,221,221,1);
  border-color:rgba(204,204,204,1);
}
.Section{
  padding: 0;
}
.InfoHead{
  color: #008b7f;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.InfoBody{
  text-align: center;
  font-weight: bold;
}