@import "./../scss/variables.scss";

@media (min-width: 1600px){
  .col-xxl-4{
    max-width: 40%;
  }
  .offset-xxl-3{
    margin-left: 30%
  }
}

.login-page{
  background-color: lightgray;
}

.page-footer {
  margin-bottom: 25px;
  font-size: 10px;
  color: lightgray;
  text-align: center;
  @media (min-height: 600px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.widget-login-container{
  padding-top: 10%;
  padding-bottom: 20px;
  min-height: 700px;
}

.widget-login-logo{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: normal;
  .fa-circle{
    font-size: 13px;
    margin: 0 20px;
  }
}

.widget-login{
  padding: 30px;

  > header{
    h1,h2,h3,h4,h5,h6{
      font-weight: normal;
      text-align: center;
    }
  }
}

.lab{
  text-align: right;
  padding-right: 30px;
  margin-bottom: 0px;
  margin-top: 5px;
  color: black;
}
.loginText{
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}
.sectionlogin{
  border-bottom-right-radius: 2%;
  border-top-right-radius: 2%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background: $pure-white;
  border-color:rgba(204,204,204,1);
  color: black;
}
.loginBackground{
  //background: radial-gradient(ellipse at center, rgba(56, 62, 75, 0.8) 0%, rgba(56, 62, 75, 0.88) 44%, rgba(56, 62, 75, 0.97) 100%);
  background-color: $deepdark-blue;
  width: 100%;
  height: 100%;
}
.infoSection{
  border-bottom-left-radius: 2%;
  border-top-left-radius: 2%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background: $offwhite;
  border-color:rgba(204,204,204,1);
}
.Section{
  padding: 0;
}
.leftSection{
  border-right-style: ridge;
  .simsBuilderIconAndText{
   .InfoHead{
    color: $theme-blue;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
  }
  .simsBuilderIcon {
    display: flex;
    padding-top: 50px;
    img {
      margin: 0px auto;
      width: 60px;
      height: 60px;
    }
  }
  }
  .widget-body{
    .InfoBody{
      text-align: center;
      font-weight: 500;
      font-size: 13px;
    }
  }
}
.rightSection{
  .loginHeader{
    color: $gray-dark;
  }
  .login-form {
    margin-top: 4.5rem;
    .formRow{
      padding: 10px 40px;
      .icon{
        font-size: 20px;
        padding: 5px 10px 0px 10px;
        color: $gray-semi-light;
      }
      .form-control {
        font-size: 14px;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid $gray-semi-light;
      }
    }
    .forgetPassRow{
      padding-top: 0px;
      font-size: 11px;
      .passwordSignInRow{
        padding: 0px;
        .fgtPassDiv{
          padding-left: 0px;
          padding-right: 2px;
          text-align: left;
          .fgtPass{
            color: $theme-blue;
            font-weight: 600;
          }
        }
        .signin-checkbox{
          color: #888;
          padding-right: 0px;
          padding-left: 2px;
          text-align: right;
          font-weight: 600;
          input{
            height: 16px;
            width: 16px;
          }
          span{
            position: relative;
            top: -4px;
          }
        }
      }
    }
  }
  .loginButtonDiv{
    display: flex;
    margin: 40px 0px 10px 0px;
    button.btn-dark{
      margin: auto;
      background-color: $theme-blue;
      color: $pure-white;
      &:hover{
        background-color: $deepdark-blue;
      }
    }
  }
}